body{
    margin:0;
    background:#f4f4f4;
    font-family:Arial,sans-serif;
}

.container{
    width:90%;
    max-width:600px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

h1{
    color:#0077ff;
}

button{
    padding:12px 30px;
    border:none;
    border-radius:8px;
    background:#0077ff;
    color:white;
    font-size:18px;
}

.hero{
animation:muncul 1.2s;
}

.card{
animation:muncul 1.5s;
}

@keyframes muncul{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.stats{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.box{
background:#ffffff;
color:#000;
width:180px;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.box h2{
font-size:30px;
color:#2563eb;
}

.box p{
margin-top:10px;
font-weight:bold;
}
